* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font:400 1rem  'Comfortaa', cursive, sans-serif;
}

/*---------------------HEADER---------------------*/


main {
    /* background: linear-gradient(231.86deg, #54086B -27.64%, #050833 82.89%), #050833; */
    background-image: url('../assets/cyberpunk-city-scifi-digital-art-uhdpaper.com-hd-4\ 1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    clip-path: polygon(0% 0, 100% 0%, 100% 82%, 0 100%);
    position: relative;
}


.poly-roxo {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(20px -4px 15px #000);
}

.poly-roxo::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0; right: 0; bottom: 0; left: 0;
    background: linear-gradient(231.86deg, #54086B -27.64%, #050833 82.89%), #050833;
    clip-path: polygon(0% 0, 62% 0%, 40% 93%, 0 100%);
}

.line {
    position: absolute;
    width: 743px;
    height: 0px;
    top: 88%;
    left: 0;
    border: 2px solid #FF0BAC;
    transform: rotate(-5deg);
}

.line.-blue {
    top: 91%;
    border: 2px solid #00BEC5;
}



body, input, textarea, select, button{
    font:400 1rem  'Comfortaa', cursive, sans-serif;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}



header {
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1240px;
    height: 78px;
}

nav {
    display: flex;
    width: 100%;
    height: 78px;
    padding-top: 35px;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 78px;
    height: 78px;
    margin-top: 0;
}

.logo img {
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-emphasis: none;
    color: #F3F3F3;
    font-size: 1.1rem;
    line-height: 1.1rem;
    transition: 0.3s ease;
}

nav ul li a:hover {
    filter: brightness(0.8);
}


.button {
    font-size: 14;
    background: none;
    outline: none;
    border: none;
    width: 145px;
    height: 45px;
    position:relative;
    color: #f3f3f3;
}

.button::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius:10px 0 10px 0; 
  padding:3px; 
  background:linear-gradient(90deg, #FF0BAC, #00BEC5); 
  -webkit-mask: 
  linear-gradient(#fff 0 0) content-box, 
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out; 
  mask-composite: exclude; 
  transition:background-color 0.3s ease;
}

.button:hover:before {
    -webkit-animation: play 1.6s ease-in-out;
    filter: brightness(0.8);
}


@-webkit-keyframes play {
    0% {
        background-position: 0px;
    }
     /* 25% {
        background-position: -110px;
    }
    50% {
        background-position: -220px;
    }
    75% {
        background-position: -330px;
    }  */
   
     100% {
        background-position: -400px;
    }  
}

.info-container {
    margin: 0 auto;
    max-width: 1240px;
}

.info {
    width: 50rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info h1 {
    color: rgba(0, 190, 197, 1);
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
    margin-top: 15rem;
}


.info h2 {
    color: rgba(255, 11, 172, 0.49);
    font-size: 2.2rem;
    line-height: 2.5px;
    margin-top: 5rem;
    margin-bottom: 63px;
}

.button.-mais {
    box-sizing: border-box;
    width: 184px;
    height: 56px;
    padding: 18px 40px;
}

.button.-contato {
    outline: none;
    border: none;
}


nav ul li a:hover {
    filter: brightness(0.8);
}



.header-container .header-nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.header-container .header-nav nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header-container .header-nav nav ul li {
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}



main {
    background-position: 10vw;
}



@media (max-width: 1024px){
    .header-container {
        display: flex;
    }

    .header-container .header-nav {
        width: 100%;
        display: flex;
        margin-top: 25px;
    }

    .header-container .header-nav nav{
        justify-content: space-around;
        align-items: center;
    }

    .header-container .header-nav nav ul{
        width: 50%;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 0;
    }

    .info-container {
        margin-left: 40px;
        max-width: 1240px;
    }
    
    .poly-roxo::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0; right: 0; bottom: 0; left: 0;
        background: linear-gradient(231.86deg, #54086B -27.64%, #050833 82.89%), #050833;
        clip-path: polygon(0% 0, 84% 0%, 40% 93%, 0 100%);
    }

    main {
        background-position: 10vw;
    }
}

@media (max-width: 375px){
    nav button {
        display: none;
    }

    .header-container {
        display: flex;
    }

    .header-container .header-nav {
        width: 100%;
        display: flex;
        margin-top: 14px;
    }

    .header-container .header-nav nav{
        justify-content: space-around;
        align-items: center;
        font-size: 14px;
    }

    .header-container .header-nav nav ul{
        width: 66%;
        justify-content: space-between;
        align-items: center;
    }

    .logo img {
        margin: 0;
        width: 64px;
        height: 64px;
    }

    .info-container {
        margin-left: 15px;
        max-width: 1240px;
    }

    .info h1 {
        font-size: 24px;
        font-weight: 400;
        margin-top: 75px;
    }
    
    
    .info h2 {
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .button.-mais {
        box-sizing: border-box;
        width: 135px;
        height: 40px;
        font-size: 14px;
        padding: 0;
    }
    
    .poly-roxo::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0; right: 0; bottom: 0; left: 0;
        background: linear-gradient(231.86deg, #54086B -27.64%, #050833 82.89%), #050833;
        clip-path: polygon(0% 0, 98% 0%, 40% 93%, 0 100%);
    }

    main {
        background-position: -36vw;
    }
}


/*---------------------SOBRE---------------------*/

section.about {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 684px;
    display: flex;
    flex-direction: column;
}

.about h1 {
    font-family: 'Comfortaa';
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: #00BEC5;
    margin-bottom: 100px;
}

div.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.about-me {
    width: 505px;
    height: 380px;
    margin-right: 125px;
    font-size: 18px;
    line-height: 25px;
}

div.about-me button {
    margin-top: 10px;
    width: 157px;
    height: 56px;
    font-size: 18px;
    padding: 1rem 2.5rem;
    border-radius: 10px 0px;
    background-color: transparent;
    border: 3px solid;  
    color: #050833;
    border-width: 2px;
    border-image-slice: 1;
    border-image-source: linear-gradient(270deg,rgba(0, 190, 197, 1),rgba(255, 11, 172, 1)); 
}

div.profile {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: linear-gradient(0deg,rgba(0, 190, 197, 1),rgba(255, 11, 172, 1)); 
}

div.profile img {
    width: 400px;
    padding-bottom: 25px;
}

div.profile span {
    font-size: 24px;
     background: -webkit-linear-gradient(0deg,rgba(0, 190, 197, 1),rgba(255, 11, 172, 1)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.poly1 {
    position: absolute;
    top: 60px;
    left: -220px;
    width: 500px;
    height: 500px;
    z-index: -10;
    transform: rotate(169deg);
}

.poly2 {
    height: 500;
    width: 500;
    overflow: hidden;
    position: absolute;
    bottom: -120px;
    right: -150px;
    width: 500px;
    height: 500px;
    z-index: -1;
    transform: rotate(-133deg);
}

.poly2 svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .about h1 {
        font-size: 32px;
        margin-bottom: 60px;
    }

    div.about-me {
        width: 330px;
        height: 398px;
        margin-right: 30px;
        font-size: 14px;
    }

    div.profile img {
        width: 330px;
        padding-bottom: 12px;
    }

    .poly1 {
        display: none;
    }
}

@media (max-width: 375px) {
    section.about {
        width: 375px;
        height: 554px;
    }
    .about h1 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    div.content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0 14px;
    }

    div.about-me {
        width: 188px;
        height: 333px;
        margin-right: 20px;
        font-size: 12px;
        line-height: 15px;
    }

    .button.-contato {
        font-size: 14px;
        box-sizing: border-box;
        width: 116px;
        height: 40px;
        padding: 0;
    }

    div.profile {
        width: auto;
    }

    div.profile img {
        width: 138px;
        padding-bottom: 10px;
    }

    div.profile span {
        font-size: 14px;
    }

    .poly1 {
        display: none;
    }
}

/*---------------------PROJETOS---------------------*/

section.projetos {
    overflow: hidden;
    width: 100%;
    height: 682px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(101.67deg, #54086B -14.64%, #050833 92.12%), #050833;
}

.projetos h1 {
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
    color: #FF0BAC;
    font-size: 36px;
}

.projetos-container {
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
}

.projetos-border {
    width: 403px;
    height: 403px;
    position:relative;
}
.projetos-border:hover {
    width: 500px;
    height: 500px;
    position:relative;
    margin: 10px;
    transform: translateY(-10%);
    transition: 0.3s ease;
}


.projetos-border::before {
    content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:3px; 
  background:linear-gradient(135deg, #FF0BAC, #00BEC5); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out; 
  mask-composite: exclude; 
}

.projetos-links {
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projetos-links:hover {
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
.projetos-links::before {
    content: "";
    background-image: url("/assets/projeto-styre.png");
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    position: absolute;
    top: 3px;
    right: 0px;
    bottom: 0px;
    left: 3px;
}

.projetos-links.-moveit::before {
    content: "";
    background-image: url("/assets/projeto-moveit.png");
    background-position: top left;
}

.projetos-links.-move::before {
    content: "";
    background-image: url("/assets/projeto-move.png");
    background-size: cover;
    background-position: left -30px;
}

.projetos .projetos-links h2 {
    color: #F3F3F3;
    position: relative;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}

.projetos .projetos-links img {
    position: relative;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
     scroll-snap-type: y mandatory;
}


.slick-initialized .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px !important;
    scroll-snap-align: start;
}



 .item {
    margin: 10px;
    border: none;
}


#open-modal {
    cursor: pointer;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.8); 
}


.modal-content {
    margin-top: -20px;
    width: 685px;
   

    margin: 0 auto;

    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;

    background: rgba(5, 8, 51, 1);
    position: relative;
    border-radius: 10px;

}

.certificados {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.modal-content h2 {
    color:rgba(255, 11, 172, 1);
    font-family: Comfortaa;
    font-weight: 400;
    font-size:2.3rem;
    line-height: 40,14px;
    margin-bottom: 50px;
    margin-top: 40px;
}


.modal-content p {
    color:rgba(0, 190, 197, 1) ;
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 1.2rem;
    line-height:20,07px;
    margin-bottom: 15px;
}

.modal-content #close-modal {
    padding: 10px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.modal-content img {
    max-width: 504px;
    width: 100%;
}

.contato-card h3:hover {
    filter:brightness(0.8);
}


@media (max-width: 1024px) {
    .projetos h1 {
        margin-top: 40px;
        font-size: 32px;
    }

    .projetos-border {
        width: 373px;
        height: 373px;
        position:relative;
    }
    
    .projetos-links {
        width: 370px;
        height: 370px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 375px) {
    section.projetos {
        height: 368px;
    }
    .projetos h1 {
        margin-top: 40px;
        font-size: 18px;
        margin-bottom: 40px;
    }

    .projetos-border {
        width: 221px;
        height: 221px;
        position:relative;
    }
    
    .projetos-links {
        width: 218px;
        height: 218px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projetos .projetos-links img {
        position: relative;
        width: 160px;
    }
}

/*---------------------CONTATO---------------------*/

section.contato {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 682px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.contato h1 {
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
    color: #050833;
    font-size: 36px;
}

.contato-container {
    display: flex;
    background: #050833;
    width: 1240px;
}

.contato-container .contato-card {
    position: relative;
    padding-top: 82px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-container .contato-card h2 {
    color: #FF0BAC;
    font-size: 28px;
}

.contato-container .contato-card h3 {
    margin-top: 30px;
    margin-bottom: 40px;
    color: #00BEC5;
    font-size: 24px;
}

.contato-container img {
    width: 505px;
    z-index: 3;
}

.contato-container .contato-card .icones {
    margin-top: 30px;
}

.icones a img {
    width: 85px;
}

.icones a + a {
    margin-left: 40px;
} 

.poly3 {
    position: absolute;
    z-index: -2;
    top: 0px;
    right:-60px;
    width: 500px;
    height: 500px;
    transform: rotate(-133deg);
}

.poly4 {
    position: absolute;
    z-index: -2;
    top: 480px;
    left: -300px;
    width: 500px;
    height: 500px;
    transform: rotate(-133deg);
}

.poly5 {
    position: absolute;
    z-index: 1;
    top: 140px;
    left: -300px;
    width: 200px;
    height: 200px;
    transform: rotate(-78deg);
}



@media (max-width: 1024px) {
    .contato-container {
        width: 690px;
    }

    .contato-container img {
        width: 280px;
    }

    .contato-container .contato-card h2 {
        font-size: 18px;
    }
    
    .contato-container .contato-card h3 {
        font-size: 14px;
    }
    
    .contato-container .contato-card {
        padding-top: 46px;
        padding-bottom: 46px;
    }

    .icones a img {
        width: 48px;
    }

    section.contato h1 {
        margin-bottom: 80px;
        font-size: 32px;
    }
}

@media (max-width: 375px) {
    .contato-container {
        width: 346px;
        height: 118px;
    }

    .contato-container img {
        width: 140px;
        height: 118px;
    }

    .contato-container .contato-card h2 {
        font-size: 12px;
    }
    
    .contato-container .contato-card h3 {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .contato-container .contato-card {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .contato-container .contato-card .icones {
        margin-top: 10px;
    }

    .icones a img {
        width: 24px;
        height: 24px;
    }

    .icones a + a {
        margin-left: 12px;
    } 

    section.contato h1 {
        margin-bottom: 38px;
        font-size: 18px;
    }
}



@media (max-width: 1375px) {
    .poly1 {
        position: absolute;
        top: 100px;
        left: -200px;
        width: 450px;
        height: 450px;
        z-index: -10;
        transform: rotate(169deg);
    }

}

@media (max-width: 1295px) {
    .header-container {
        max-width: 1020px;
    }

    .info-container {
        max-width: 1020px;
    }

    .content {
        max-width: 1200px;
        margin: 0 auto;
    }

    .poly1 {
        position: absolute;
        top: 100px;
        left: -220px;
        width: 450px;
        height: 450px;
        z-index: -10;
        transform: rotate(169deg);
    }

    .contato-container {
        max-width: 1200px;
    }
}


@media (max-width: 1260px) {
    .poly1 {
        position: absolute;
        top: 150px;
        left: -220px;
        width: 390px;
        height: 410px;
        z-index: -10;
        transform: rotate(169deg);
    }

 
}


@media (max-width: 1190px) {
    .poly1 {
        position: absolute;
        top: 150px;
        left: -220px;
        width: 390px;
        height: 390px;
        z-index: -10;
        transform: rotate(169deg);
    }
}


[data-anime] {
    opacity: 0;
    transition: .6s;
}

[data-anime="left"] {
    transform: translate3d(-50px,0,0);
}

[data-anime="right"] {
    transform: translate3d(50px,0,0);
}

[data-anime="bottom"] {
    transform: translate3d(0,60px,0);
}
[data-anime="top"] {
    transform: translate3d(0,-100px,0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
